
body{
    
    font-family: $fontFamilyTexte;
    
}
h1,h2,h3{
    font-family: $fontFamilyTitle;
    
}

// main{
//     font-family: $fontFamilyTexte, $fontFamilyTitle;
//     // color: $texteColor;
 
   
// }

.welcome{
    width: 200px;
    height: 30px;
    background-color: rgba(7, 0, 72, 0.425);
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }


a,li,ul{
    list-style-type: none;
}

.messageAjax{
    height: 400px;
}


.welcome{
    background-color: rgba(56, 149, 56, 0.9);
    border-radius: 0px;
    color: white;
}

.titlePage{
    display: flex;
    justify-content: center;
}

.messageSuccess{
   
    position: fixed;
    z-index: 50;
background-color: rgba(0, 191, 0, 0.8);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 90%;
    max-height: 150px;
    max-width: 400px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color:white;
    
    display: none;
    
}

// .message-box {
//     position: fixed;
//     top: 20px;
//     left: 50%;
//     transform: translateX(-50%);
//     min-width: 300px;
//     max-width: 80%;
//     padding: 20px;
//     text-align: center;
//     color: white;
//     font-size: 1.2em;
//     display: none;}

// #message.error{
//     background-color: rgba(255, 0, 0, 0.828);
// }

.messageError{
   
    position: fixed;
    z-index: 50;
    background-color: rgba(255, 0, 0, 0.828);
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 90%;
    max-height: 150px;
    max-width: 400px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color:white;
    
    display: none;
    
}