//Colors
$backgroundColor : #EFF1EE;
$texteColor : #F4F4F3;
$principalDarkColor : #111E11;
$secondaryDarkColor : #343A40;
$firstColor: #A7ADA2;
$firstColorLight: #B5B9B1;
$secondColor : #3F5376;
$secondColorLight : #5E79A8;
$thirdColor: #FBA083;
$thirdColorLight: #D58B73;
$fourthColor : #C3B79D;
$fourthColorLight : #E3D1AB;

//polices
$fontFamilyTitle: 'merriweather, sans serif';
$fontFamilyTexte: 'poppins, sans serif';

//shadows

$lightShadow : 4px 4px 10px rgba(0,0,0,0.6);
$darkShadow : 10px 10px 20px rgba(0,0,0,0.6);
