

// Variables
$primary-color: #3498db;
$secondary-color: #2c3e50;
$font-color: #ffffff;
$container-color: #937e5f;

// Mixins
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.journey-details {
  // padding: 20px;
  // margin:10px;
  color: $texteColor;
  border-radius: 30px;
  max-width: 1000px;
  margin: 10px auto 30px auto;
  
 

  

  &__intro {
    background-color: $firstColorLight;
    box-shadow: $darkShadow;
    border-radius: 10px;
    padding: 30px;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 15px;
  }

  &__description {
    font-size: 18px;
    margin-bottom: 15px;

    // padding: 10px;
    border-radius: 5px;
  }

  &__slider {
    width: 100%;
    // max-height: 400px;
    height: 600px;
    

    overflow: hidden;
    margin-bottom: 15px;
    

    @include mobile {
      max-height: 250px;
    }
 
  }

  &__infos,
  &__circuit {
    background-color: $fourthColor;
    
    box-shadow: $darkShadow;
    padding: 30px;
  }

  &__formalities,
  &__hostel {
    background-color: $thirdColor;
    margin: 3em 0;
    box-shadow: $darkShadow;
    padding: 30px;
    

  }

  &__hostel-title,
  &__hostel-description {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &__hostel,
  &__circuit {
    display: flex;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
    }
  }



  
  &__hostel-content,
  &__circuit-content {
    flex: 1;
    padding-right: 20px;

    @include mobile {
      padding-right: 0;
    }
  }

  &__hostel-image,
  &__circuit-image {
    img {
      max-width: 40vh;
      height: 30vh;
      border-radius: 5px;
      display: block;
      // margin-bottom: 0 auto 0;
      padding: 20px;
      transition: transform 0.3s ease;
      &:hover {
         
          transform: scale(1.2);
        
      }
     
    }

    @include mobile {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
